{
  "atom-text-editor": {
    "alt-a": "custom:insert-a"
    "alt-i": "custom:insert-i"
    "alt-u": "custom:insert-u"
    "alt-r": "custom:insert-r"
    "alt-f": "custom:insert-ri"
    "alt-l": "custom:insert-l"
    "alt-k": "custom:insert-li"
    "alt-m": "custom:insert-m"
    "alt-,": "custom:insert-malt"
    "alt-h": "custom:insert-h"
    "alt-t": "custom:insert-t"
    "alt-d": "custom:insert-d"
    "alt-n": "custom:insert-n"
    "alt-g": "custom:insert-nalt"
    "alt-j": "custom:insert-ntilde"
    "alt-s": "custom:insert-s"
    "alt-x": "custom:insert-sh"
    "alt-c": "custom:insert-mcandrabindu"
    "alt--": "custom:insert-emdash"
    "alt-.": "custom:insert-dots"
    "alt-shift-a": "custom:insert-A"
    "alt-shift-i": "custom:insert-I"
    "alt-shift-u": "custom:insert-U"
    "alt-shift-r": "custom:insert-R"
    "alt-shift-f": "custom:insert-Ri"
    "alt-shift-l": "custom:insert-L"
    "alt-shift-k": "custom:insert-Li"
    "alt-shift-m": "custom:insert-M"
    "alt-shift-,": "custom:insert-Malt"
    "alt-shift-h": "custom:insert-H"
    "alt-shift-t": "custom:insert-T"
    "alt-shift-d": "custom:insert-D"
    "alt-shift-n": "custom:insert-N"
    "alt-shift-g": "custom:insert-Nalt"
    "alt-shift-j": "custom:insert-Ntilde"
    "alt-shift-s": "custom:insert-S"
    "alt-shift-x": "custom:insert-Sh"
    "alt-shift-c": "custom:insert-Mcandrabindu"
  }
}
